HELP.md
/.gradle/
/.cache/
/build/
/classes/
!gradle/wrapper/gradle-wrapper.jar

/npm-app/

/node-app/node_modules/
/node-app/.gradle/
/node-app/.cache/
!/node-app/dist/
/node-app/build/


/java-app/build/
/java-app/.cache/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
