HELP.md
/.gradle/
.cache
/build/
/classes/
!gradle/wrapper/gradle-wrapper.jar

/npm-app/
/npm-app/node_modules
/npm-app/.gradle
/npm-app/.cache
/npm-app/dist
/npm-app/build


/java-app/build/
/java-app/.cache/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
